<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Breakfast 🌸{% endblock %}</title>
  <meta name="description" content="Доброе утро!!!">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- Шрифт -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap">
  <!-- Подключение к CSS-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <div class="wrapper">
    <div class="container">
    {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
